In [2]:
import pandas as pd
import psycopg2

conn = psycopg2.connect("postgres://default:Bk8Tio0CSGrX@ep-white-rice-a4hbmc1a-pooler.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require")

df = pd.read_csv("words_alpha.txt", sep="/n")
df.head(10)

/tmp/ipykernel_28647/981230554.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df = pd.read_csv("words_alpha.txt", sep="/n")

     word
0       a
1      aa
2     aaa
3     aah
4   aahed
5  aahing
6    aahs
7     aal
8   aalii
9  aaliis

In [3]:
df.shape

(370105, 1)

In [4]:
df[df["word"] == "hello"]

         word
135728  hello

In [10]:
df["word"].apply(lambda x: 0 if type(x) == "str" else 1).value_counts()

word
1    370105
Name: count, dtype: int64

In [11]:
# Generate the SQL query string
query_values = ", ".join(["('" + word + "')" for word in df['word']])

# Construct the full SQL query
sql_query = "INSERT INTO dict_words (word) VALUES {};".format(query_values)

TypeError: can only concatenate str (not "float") to str

In [18]:
cursor = conn.cursor()



try:
    # Execute the SQL command
    cursor.execute(sql_query)
    
    # Commit your changes in the database
    conn.commit()
    print("Records inserted successfully into dict_words table")
except Exception as e:
    # Rollback in case there is any error
    print("Error: ", e)
    conn.rollback()

# Close the cursor and connection
cursor.close()
conn.close()

TypeError: can only concatenate str (not "float") to str