In [84]:
import pandas as pd
import psycopg2

conn = psycopg2.connect("postgres://default:Bk8Tio0CSGrX@ep-white-rice-a4hbmc1a-pooler.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require")

df = pd.read_csv("oxford-5k.csv")
df.head()

,word,level,pos,definition_url,voice_url
0,a,a1,indefinite article,https://www.oxfordlearnersdictionaries.com/def...,https://www.oxfordlearnersdictionaries.com/med...
1,abandon,b2,verb,https://www.oxfordlearnersdictionaries.com/def...,https://www.oxfordlearnersdictionaries.com/med...
2,ability,a2,noun,https://www.oxfordlearnersdictionaries.com/def...,https://www.oxfordlearnersdictionaries.com/med...
3,able,a2,adjective,https://www.oxfordlearnersdictionaries.com/def...,https://www.oxfordlearnersdictionaries.com/med...
4,abolish,c1,verb,https://www.oxfordlearnersdictionaries.com/def...,https://www.oxfordlearnersdictionaries.com/med...

In [76]:
len(df)

5948

In [85]:
df[df["word"] == "o'clock"]

,word,level,pos,definition_url,voice_url
3562,o'clock,a1,adverb,https://www.oxfordlearnersdictionaries.com/def...,https://www.oxfordlearnersdictionaries.com/med...

In [86]:
df['word'] = df['word'].str.replace("'", "''")

In [87]:
df.iloc[3562]

word                                                       o''clock
level                                                            a1
pos                                                          adverb
definition_url    https://www.oxfordlearnersdictionaries.com/def...
voice_url         https://www.oxfordlearnersdictionaries.com/med...
Name: 3562, dtype: object

In [88]:
df = df.drop_duplicates(subset=["word"])

In [89]:
df.shape

(4958, 5)

In [90]:
cursor = conn.cursor()

# Generate the SQL query string
query_values = ", ".join(["('" + word + "')" for word in df['word']])

# Construct the full SQL query
sql_query = "INSERT INTO dict_words (word) VALUES {};".format(query_values)

try:
    # Execute the SQL command
    cursor.execute(sql_query)
    
    # Commit your changes in the database
    conn.commit()
    print("Records inserted successfully into dict_words table")
except Exception as e:
    # Rollback in case there is any error
    print("Error: ", e)
    conn.rollback()

# Close the cursor and connection
cursor.close()
conn.close()

Records inserted successfully into dict_words table

In [47]:
q = "INSERT INTO dict_words (word) VALUES ('k'), ('b'), ('word')"

35233